//-
	- If the user disabled the JavaScript from the browser, show a message to enable it again

noscript
	.alert.alert-danger(role="alert").
		The website may not work as intended to be, since there is a heavy depends on Javascript and now it's disabled in your browser, please #[a(href="https://www.enable-javascript.com/" target="_blank" class="alert-link") enable it], then reload the page.
