//-
	- Scripts (JS files)
	- Development mode: Use 1 compressed and bundled CSS file for the whole app
	- Production mode: Use 1 compressed and bundled file, but use CDNs for third-party scripts
script(src='./dist/bundled.js')
